h1 {
    color: blue;
}

.bigheader { 
    color: #0061FE; 
    font-family: serif; 
    font-size: 50px; 
    font-weight: normal; 
    line-height: 54px; 
    margin: 0 0 54px; 
}

.thecompany {
   font-size: 20px;
   font-style: italic;
   line-height: 1.1em;
   font-weight: 600;
}

